//APP'S COLORS

$color-primary: #342111;
$color-primary--light: #483729;
$color-primary--dark: #24170c;

$color-secondary: #7f6921;
$color-secondary--light: #8c7837;
$color-secondary--dark: #594a17;

$color-white: #fffdfc;
$color-white--light: #fffefd;
$color-white--dark: #e6e4e3;
